---
layout: default
id: overview
nav: false
nav-order: 1
title: Urlaub für Augenmenschen
intro: "Entdecken Sie die lange Geschichte und das moderne Leben Bayerns: Burgen und Schlösser, Kunst und Kultur, Schätze der Vergangenheit, Klöster und historische Orte schaffen eine unübertroffene kulturelle Vielfalt. Die Marke Sightsleeping® führt Sie zu den kulturellen und historischen Highlights Bayerns und lädt Sie ein, in ausgewählten Unterkünften und an einzigartigen Orten zu residieren. Eine Jury aus Kreativköpfen findet für Sie die interessantesten Hotels Bayerns und wahre Orte für Augenmenschen: Es erwarten Sie Klöster, Weingüter, Gipfelhotels oder Herrenhäuser mit aufregender Historie, spektakulärer Lage, kulturellem Wert sowie einzigartigem Design."

banner:
  title: Sightsleeping® in&nbsp;Bayern
  title-sub: Urlaub für Augenmenschen

content-pages: true

sections:
  - id: section-0
    title: "Sightsleeping®: Die&nbsp;Idee&nbsp;dahinter"
  - id: section-1
    title: Sightsleeping® City&nbsp;Passau
  - id: section-2
    title: Weitere Sightsleeping® Cities&nbsp;&&nbsp;Regions
  - id: section-3
    title: Top Angebot

features:

- id: 1
  title: "Sightsleeping®: City&nbsp;Passau"
  bg-img: bg1
  img-main: sightleeping1
  description: "Passau ist ein Kaleidoskop schillernder Einzelteile aus Kunst, Kulinarik und Kultur, die ein buntes Gesamtbild ergeben. Egal wohin Sie blicken, in den verwinkelten Gassen der gemütlichen Stadt finden sich Galerien, Bühnen, Konzertsäle, Museen sowie Theater und verleihen der Stadt ein farbenprächtiges Gewand. Eingebettet zwischen den drei Flüssen Donau, Inn und Ilz bietet Passau neben der verträumten, barocken Architektur und den historischen Sehenswürdigkeiten auch landschaftlich absolute Einzigartigkeit."
  link: http://bit.ly/2xdRcwX
  cta: Weitere Infos
  style: bss-btn-outline

  pois:

      - id: 1
        subtitle: Kunst & Kultur
        description-short: Lernen Sie die vielfältige Kulturszene Passaus kennen und
        caption: "&nbsp;"

      - id: 2
        subtitle: Veranstaltungen
        description-short: Besonders lohnenswert ist ein Aufenthalt in Passau während
        caption: © Foto Stadt Passau

      - id: 3
        subtitle: Kulinarik
        description-short: Kulinarisch trumpfen die Passauer vor allem mit Süßspeisen auf
        caption: © Foto Stadt Passau


- id: 2
  title: Weitere Sightsleeping® Cities&nbsp;& Regions
  bg-img: bg2
  img-main: sightleeping2
  description: "Die Sightsleeping®-Jury hat neben Passau noch 5 weitere Städte und Regionen auserkoren: In Neumarkt in der Oberpfalz, Eichstätt, Bamberg, Rothenburg ob der Tauber und dem Blauen Land ist das Kulturangebot an Vielfalt kaum zu übertreffen. Traditionen, Kunst, Kulinarik und Architektur bereichern hier Ihren Urlaub mit zahlreichen neuen Eindrücken. Hinzu kommen traumhafte Landschaften, historische Schlösser und Burgen sowie prachtvolle Klöster in Regionen wie dem Blauen Land oder dem Bamberger Land. Sind Sie ein Augenmensch? Dann lassen Sie sich von Bayern verzaubern."
  link: http://bit.ly/2x7Qfam
  cta: Weitere Infos
  style: bss-btn-outline

  pois:

      - id: 4
        subtitle: Neumarkt in der Oberpfalz
        description-short: In Neumarkt in der Oberpfalz treffen Genuss, Gastfreundschaft
        caption: "&nbsp;"

      - id: 5
        subtitle: Eichstätt
        description-short: Die Straßen im Zentrum der alten Universitätsstadt Eichstätt
        caption: "&nbsp;"

      - id: 6
        subtitle: Rothenburg ob der Tauber
        description-short: Rothenburg ob der Tauber war mit seinen gepflasterten Gassen
        caption: "&nbsp;"

      - id: 7
        subtitle: Bamberg & Bamberger&nbsp;Land
        description-short: Bamberg liegt zwischen wilden Bachläufen, grün bewachsenen
        caption: "&nbsp;"

      - id: 8
        subtitle: Das Blaue Land
        description-short: Zu Füßen der majestätischen Alpen erstreckt sich das Blaue Land
        caption: "&nbsp;"



slides:

  - subtitle: Kunst & Kultur
    modal-item: 1
    description-long: "Lernen Sie die vielfältige Kulturszene Passaus kennen und fühlen Sie sich auf der Veste Oberhaus, einer der größten erhaltenen Burganlagen Europas samt Museum, in eine andere Zeit zurückversetzt. Erleben Sie zeitgenössische Werke im Museum Moderner Kunst, spiegeln Sie sich im Glasmuseum in den bunten Gläsern der weltweit umfangreichsten Sammlung europäischen Glases und reisen Sie im Römermuseum Kastell Boiotro bis in die Antike zurück. Die kulturelle Krönung ist anschließend eine beeindruckende Vorstellung im altehrwürdigen Stadttheater im Fürstbischöflichen Opernhaus."

  - subtitle: Veranstaltungen
    modal-item: 2
    description-long: "Besonders lohnenswert ist ein Besuch in Passau während ausgesuchter Festlichkeiten und Veranstaltungen. Besuchen Sie in milden Sommermonaten die Nacht der Musik oder die Kunstnacht, wo auf den schönsten Plätzen der Stadt Konzerte gespielt werden und künstlerische Einrichtungen ihre Türen für Sie öffnen. Beim Eulenspiegel Zeltfestival treten talentierte Musikgruppen und Kabarettisten auf und bei den Festspielen Europäische Wochen verbinden sich Kunst, Musik, Oper und Theater zu einem großen Kulturfestival."
    caption: © Foto Stadt Passau

  - subtitle: Kulinarik
    modal-item: 3
    description-long: "Kulinarisch trumpfen die Passauer vor allem mit Süßspeisen auf. Probieren Sie die bekannten Goldhauben-Pralinen - Marillen- oder Nusstrüffel im Schokoladenmantel, garniert mit karamellisierten Mandelsplittern – oder lassen Sie sich die fruchtige Teigspezialität Passauer Schlosserbuam schmecken. Auch herzhafte Köstlichkeiten sowie Weinspezialitäten und Brauereien gilt es zu entdecken. Den idealen Überblick bekommen Sie auf einer Kulinariktour, die mit einem Fünf-Gänge-Menü quer durch Passaus Gastronomie lockt."
    caption: © Foto Stadt Passau

  - subtitle: Neumarkt in der Oberpfalz
    modal-item: 4
    description-long: "In Neumarkt in der Oberpfalz treffen Genuss, Gastfreundschaft und Gemütlichkeit aufeinander. In kleinen Cafés, zünftigen Biergärten und auf dem geschäftigen Marktplatz spüren Sie die bayerische Lebensfreude. Machen Sie einen kulinarischen Ausflug und lernen Sie in der Weißwurst-Akademie alles, was es über die Lieblingsspeise der Bayern zu wissen gibt. Am Abend können Sie im weltbekannten Konzertsaal Reitstadl sanften Klängen lauschen oder andere faszinierende Kulturerlebnisse auskosten."

  - subtitle: Eichstätt
    modal-item: 5
    description-long: "Die Straßen im Zentrum der alten Universitätsstadt Eichstätt schmücken hübsche Fassaden in Pastelltönen, hinter denen Sie Cafés und kleine Läden finden. Moderne und Barock, Traditionen und Innovation gehen hier Hand in Hand. Das beste Beispiel dafür ist die Katholische Universität Eichstätt, in der ein modernistischer Mikrokosmos entstand, eingebettet in historische Gebäude. Die barocke Lebensart wird dabei gerne auf bunten Festen wie dem Altstadt- oder Brauereifest im Stadtkern zelebriert."

  - subtitle: Rothenburg ob der Tauber
    modal-item: 6
    description-long: "Rothenburg ob der Tauber war mit seinen gepflasterten Gassen, historischen Fachwerkhäuschen, Steinbögen, Türmen, Kirchen und Plätzen schon Vorlage und Inspiration für zahlreiche Künstler und Filmproduktionen. Bestaunen Sie Architektur aus der Renaissance und der Gotik und erfahren Sie bei einer Stadtführung mehr über die Geschichte der Stadt. Empfehlung für Genießer: Rothenburg ob der Tauber ist der Weinkelterei verschrieben und gehört zur Qualitätsvereinigung zur fränkischen Weinkulinarik."

  - subtitle: Bamberg & Bamberger Land
    modal-item: 7
    description-long: "Bamberg liegt zwischen wilden Bachläufen, grün bewachsenen Hügeln und schattigen Nadelwäldern, hinter denen die steinernen Türme und roten Ziegel der Stadt aufragen. Hier sind unzählige familiengeführte Bierbrauereien ansässig, die teilweise noch traditionelles Rauchbier brauen und eine jahrhundertealte Bierkultur aufrechterhalten. Im Umland zieren Schlösser, Klöster, Kirchen und Burgen wie Mosaikstücke aus einer längst vergangenen Zeit die Landschaft, weshalb die Region zum Weltkulturerbe ernannt wurde."

  - subtitle: Das Blaue Land
    modal-item: 8
    description-long: "Zu Füßen der majestätischen Alpen erstreckt sich das Blaue Land. Das Herz der Region ist die Künstlerstadt Murnau. Begeben Sie sich dort auf eine Reise, auf der Kultur, Kulinarik und Natur sowohl Ruhesuchende als auch Entdecker gleichermaßen faszinieren. Wandern Sie auf dem Meditationsweg im Murnauer Moos und finden Sie inmitten malerischer Landschaft Balance oder suchen Sie im Münter-Haus, wo einst Gabriele Münter und Wassily Kandinsky lebten, nach künstlerischer Inspiration. "

---



{% include nav/page.html content=page.sections %}

<!-- Intro -->

  <div class=" vpad--xl" style="" id="section-0">
    <div class="container">
      <div class="bss-body-text width width--xl text--center text--xxl  text--normal  ">
        <div class="title title--lg text--bold bss-font-color-dark bss-subtitle-divider">Sightsleeping®: Die&nbsp;Idee&nbsp;dahinter</div>
          <div class="space--sm "></div>
        <p>{{page.intro}}</p>
      </div>
      <div class="space--xs"></div>
    </div>
  </div>



<!-- Content Details -->

{% for feature in page.features %}

<div class="vpad--lg  bg--light bss-parallax bss-remove-bg" style="background-image:url('{{site.img}}/content/{{page.id}}/{{feature.bg-img}}.jpg'); " id="section-{{feature.id}}" >
<div class="container">
  <div class="row row--xl-6-6 row--gutters-md">
    <div class="col">
      <div class="space--sm"></div>
          <div class="space--xl bss-show"></div>
      <div class="title title--lg text--bold bss-subtitle-divider bss-font-color-dark bss-mob-align bss-lineheight">{{feature.title}}</div>
      <div class="space--lg"></div>
      <div class="bss-body-text text text--xxl text--black bss-mob-align ">{{feature.description}}</div>
   </div>
    <div class="col bss-mob-hide">
        <div class="space--xxl bss-hidden"></div>
      <div class="bg-img bg-img--1-1 " style="background-image: url('{{site.img}}/content/overview/{{feature.img-main}}.jpg'); ">

      </div>
    </div>
  </div>

  <div class="space--xl"></div>

<div class="row row--gutters-md">

  {% for poi in feature.pois %}

      <div class="col col--lg-6 col--xl-4 text--center" >
        <a onclick="openModal();currentSlide({{poi.id}})" data-modal-item="highlight{{poi.id}}" data-modal-group="section" >
        <div >
          <div class="bss-modal-thumbn" style="background-image:url('{{site.img}}/content/overview/highlight{{poi.id}}.jpg'); ">
            <div class="bss-modal-thumbn-text bss-body-text text--xl text--black" >
              <h4 class="title title--xxs text--bold text--upper bss-font-color-dark bss-lineheight--md">{{poi.subtitle}}</h4>
            <div class="space--xxxs  ">
            {{poi.description-short}}...<br></div>
            <div class="space--xxs"></div>
              <div class=" text--bold bss-font-color-bright">Mehr erfahren</div>
            </div>
            <div class=" text--bold text--white text--sm" style="margin:-8px;">{{poi.caption}}</div>
          </div>

        </div>
      </a>
    </div>
  {% endfor %}

</div>
</div>
<div class="space--xxl text--center bss-body-text">
  <a class=" text--bold {{feature.style}} bss-font-color-bright" href="{{feature.link}}" target="_blank">{{feature.cta}} </a>
</div>
  <div class="space--md"></div>
</div></div>
{% endfor %}


<!-- Gallery /-->

<div id="myModalWind" class="pt-modal_highlights">
<div class="pt-prev" id="arrow1" onclick="plusSlides(-1)" ></div >
<div  class="pt-next" id="arrow2" onclick="plusSlides(1)"></div >
  <div class="pt-close pt-cursor" onclick="closeModalWind()"></div>
  <div class="pt-modal-content-details">

    {% for slides in page.slides %}

    <div class="pt-mySlides">
      <div class="pt-highlight-modal-img" style="background-image:url('{{site.img}}/content/overview/highlight{{slides.modal-item}}.jpg');"></div>
      <div class="pt-highlight-modal-text">
        <div class="title title--sm bss-lineheight text--bold bss-font-color-dark">{{slides.subtitle}}</div>
        <div class="space--xs" style="letter-spacing:-0.2px;"> {{slides.description-long}} <br>{{slides.caption}} </div>
      </div>
    </div>

    {% endfor %}


  </div>
</div>


<!-- Offers -->

<div class=" vpad--xl " style="" id="section-3">
  <div class="container">
    <div class="width width--xl text--center text--xxl bss-body-text ">
      <div class="title title--lg text--bold bss-font-color-dark bss-subtitle-divider">Unser Sightsleeping® Geheimtipp</div>
        <div class="space--sm "></div>
      <p>Außergewöhnliche Hotels für Liebhaber von Architektur, Kultur, Design und Ästhetik – das verspricht die Marke Sightsleepin®. So nimmt Sie das Schloss Burgellern  mit in fürstbischöfliche Zeiten: Hier wandeln Sie durch den romantischen Schlosspark, wo einst bereits König Maximilian und später König Ludwig II. weilten.</p>

    </div>

  </div>
  {% include offer/all-offers.html %}
</div>


<script>

// Get the modal
var modal = document.getElementById('myModalWind');

function openModal(){
	document.getElementById('myModalWind').style.display='block';
  document.getElementById('arrow1').style.display = "block";
  document.getElementById('arrow2').style.display = "block";
}

function closeModalWind() {
  document.getElementById('myModalWind').style.display = "none";
}

  var slideIndex = 1;

  function plusSlides(n) {
    //alert(n);
   showSlides(slideIndex += n);
  }
  function currentSlide(n) {
    showSlides(slideIndex = n);

  }
function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("pt-mySlides");
  //  alert(n);
    if (n > slides.length) {slideIndex = 1}
    if (n < 1) {slideIndex = slides.length}
    for (i = 0; i < slides.length; i++) {
        slides[i].style.display = "none";
    }
      slides[slideIndex-1].style.display = "block";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {

        modal.style.display = "none";
    }
}
</script>
