
<!-- Offer 1 -->

<a href="{{offer.link}}" target="_blank">
<div class="bob" >
    <div class="bob__img">
        <div class="bg-img bg-img--3-2" style="background-image:url('{{site.img}}/offers/{{offer.id}}.jpg');"></div>
    </div>
    <div class="bob__text bss-body-text" >
        <h3 class="title title--xs text--bold bss-font-color-dark bss-lineheight">{{offer.title}}</h3>
        <div class="space--xs"></div>
        <h4 class="bss-font-color-bright text--xl">{{offer.location}}</h4>
        <div class="space--xs"></div>
        <div class="offer__description text--black text--xl">{{offer.description}}</div>
        <div class="offer__bottom text--black">
          <div class="offer__bottom-left">

            {% if offer.saved %}
              <div class="offer__saved">
                <div class="offer__saved-label bss-lineheight">Sparen Sie bis&nbsp;zu</div>
                  <div class="space--xs"></div>
                <div class="offer__saved-percent bss-bg-color text--xxxl" style="">{{offer.saved}}%</div>
              </div>
              <div class="offer__separator"></div>
            {% endif %}

            <div class="offer__details text--left">
              <div>Ab <span class="offer__price bss-font-color-bright">{{offer.price}}€</span></div>
              <div class="text--sm">{{offer.price-description}}</div>
            </div>
          </div>
          <div class="offer__bottom-right">
            <div class="offer__arrow"></div>
          </div>
        </div>
    </div>
</div>
</a>
